<div *ngIf= "!isCustomerLoggedIn && !isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <a routerLink="/" class="navbar-logo-link">
      <img src="assets/logo.png" alt="Logo" class="navbar-logo" />
    </a>
    <span class="navbar-title">Energy Management System</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/signup" routerLinkActive="active">Register</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
  </mat-toolbar>
</div>

<div *ngIf= "isCustomerLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <a routerLink="/" class="navbar-logo-link">
      <img src="assets/logo.png" alt="Logo" class="navbar-logo" />
    </a>
    <span class="navbar-title">Energy Management System</span>
    <span class="spacer"></span>
    <button mat-button routerLinkActive="active" (click)="navigateToChatCustomer()">Chats</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>

<div *ngIf= "isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <a routerLink="/" class="navbar-logo-link">
      <img src="assets/logo.png" alt="Logo" class="navbar-logo" />
    </a>
    <span class="navbar-title">Energy Management System</span>
    <span class="spacer"></span>
    <button mat-button routerLinkActive="active" (click)="navigateToChatAdmin()">Chats</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>

<div *ngIf="showWelcomeMessage" class="welcome-message">
  <h1>Welcome to Our Energy Management System</h1>
  <p>
    We are pleased to have you here. Our application is designed to help you monitor and manage your energy consumption effectively.
    With intuitive features and real-time analytics, we empower you to make informed decisions about your energy use.
    Explore our platform and discover how you can optimize your energy management for a more sustainable future.
  </p>
</div>
