<div class="clients-container">

    <div class="create-client-button-container">
        <button mat-raised-button color="primary" (click)="goToCreateClient()">Create Client</button>
      </div>
    <!-- Search form 
    <form [formGroup]="searchClientForm" (ngSubmit)="onSearchClient()">
      <mat-form-field appearance="outline">
        <mat-label>Search Client by Title</mat-label>
        <input matInput formControlName="title" placeholder="Enter client title" />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Search</button>
    </form>

    -->
  
    <!-- Clients table -->
    <table mat-table [dataSource]="clients" class="clients-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let client">{{ client.id }}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let client">{{ client.name }}</td>
      </ng-container>
  
      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let client">{{ client.address }}</td>
      </ng-container>
  
      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let client">
          <span *ngIf="client.role === 'CUSTOMER'">{{ client.role }}</span>
        </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let client">
          <button mat-raised-button color="accent" (click)="onEditClient(client)">Edit</button>
          <button mat-raised-button color="warn" (click)="onDeleteClient(client.id)">Delete</button>
        </td>
      </ng-container>
  
      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="['id', 'name', 'address', 'role', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'address', 'role', 'actions']"></tr>
    </table>
  
    <!-- No Clients Message -->
    <div *ngIf="clients.length === 0" class="no-clients-message">
      <p>No clients found.</p>
    </div>

    <!-- Back Button -->
    <div class="back-button-container">
      <button mat-raised-button color="primary" (click)="goBack()">Back</button>
    </div>
</div>
