<div class="dashboard-container">
  <h2>Your Devices</h2>

  <div *ngIf="devices.length > 0; else noDevices" class="devices-list">
    <div *ngFor="let device of devices" class="device-card">
      <h3>{{ device.description }}</h3>
      <p><strong>Address:</strong> {{ device.address }}</p>
      <p><strong>Max Hourly Energy Consumption:</strong> {{ device.maximumHourlyEnergyConsumption }} kWh</p>
      <p><strong>Device ID:</strong> {{ device.deviceId }}</p>
      <button class="inspect-button" (click)="inspectDevice(device.deviceId)">Inspect</button>
      
      <!-- New Button to Navigate to Messages -->
    </div>
  </div>


  <ng-template #noDevices>
    <div class="no-devices-message">
      <p>No devices found for your account.</p>
    </div>
  </ng-template>

  <button class="messages-button" (click)="messagesUser(userId)">
    View Messages
  </button>
  
</div>
